<div class="card">
    <div class="card-header">
        <div class="card-title flex-column align-items-start mt-3">
            <div class="ttl d-flex align-items-center">
                <h1 class="text-dark"> Lista de Ingresos </h1>
            </div>
        </div>
    </div>
    <div class="card-body  px-5">
        <tabla-template [title]="title" [data]="incomesCopy" (getData)="getIncomes()" [titleTot]="'Total de Ingresos'"
            [montoTot]="getTotalMont()"></tabla-template>
    </div>
</div>